<ion-view view-title="Customer Bill Details">
  <ion-content class="Details">
      <ion-list>
       <ion-item class="item-full"  ng-repeat="card in BillData">
       <div class="list">
     

         <!--   <label class="item" class="inactiveLink">
            Customer Id 
            <span class="item-note item-text-wrap">
           {{card.user_id}}
            </span>
            </label> -->

            <label class="item" class="inactiveLink">
           Customer Number
            <span class="item-note item-text-wrap">
           {{card.consumer_account_number}}
            </span>
            </label>

            <label class="item" class="inactiveLink">
           Payment Status
            <span class="item-note item-text-wrap">
           {{card.payment_status}}
            </span>
            </label>

              <label class="item" class="inactiveLink">
            Total Bill 
            <span class="item-note item-text-wrap">
           {{card.total_bill}}
            </span>
            </label>

              <label class="item" class="inactiveLink">
            Amount Paid 
            <span class="item-note item-text-wrap">
           {{card.amount_paid}}
            </span>
            </label>

              <label class="item" class="inactiveLink">
            Payment Status
            <span class="item-note item-text-wrap">
           {{card.payment_status}}
            </span>
            </label>
      </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
