<ion-view view-title="mSmartEU Agency">
  <!-- <ion-nav-bar class="bar-assertive">
  </ion-nav-bar> -->
  <ion-content ng-controller = "dashboardCtrl">
  <div class="row " style="margin-top: 30px !important ">
      <div class="col col-50 text-center " ui-sref='app.profilesettings'>
        <h5>
          <i class="icon dashboard-icon ion-ios-person "></i><br>
          Profile Settings
        </h5>
      </div>
      <div class="col col-50 text-center " ui-sref="app.CustomerDetails ">
        <h5>
          <i class="icon dashboard-icon ion-cash "></i><br>
          Bill Payment
        </h5>
      </div>
    </div>
    <div class="row ">
     <div class="col col-50 text-center " ui-sref="app.ReceiptList ">
        <h5>
          <i class="icon dashboard-icon ion-speedometer"></i><br>
        Receipts
        </h5>
      </div>
     <div class="col col-50 text-center " ng-click="logout()">
        <h5>
          <i class="icon dashboard-icon ion-android-exit" ng-controller="logoutCtrl" ng-click= "logout()"></i><br>
          Logout
        </h5>
      </div>
      </div>
  </ion-content>
  </ion-view>