<ion-view view-title="Edit Receipt Details">
  <ion-content>
      <ion-list >
       <ion-item class="item-full billdetails"  >
       <div class="list">
        
      <label class="item" class="inactiveLink">
   Receipt Number
    <span class="item-note item-text-wrap">
    {{ReceiptDetails[0].id}}
    </span>
  </label>

   <label class="item">
    Customer Number
    <span class="item-note item-text-wrap">
    {{ReceiptDetails[0].consumer_account_number}}
    </span>
  </label>

  <label class="item" class="inactiveLink">
  Customer Name
    <span class="item-note item-text-wrap">
     {{ReceiptDetails[0].username}}
    </span>
  </label>


  <label class="item" class="inactiveLink" style="background-color: grey;">
Remarks
 <span class="item-note item-text-wrap" style="background-color: grey;">
    <input type="text" placeholder="Enter Remarks here" align="right" ng-model="receiptData.remarks" style="direction: ltr; text-align: right;">
    </span>
  </label>


   <label class="item" class="inactiveLink">
 Payment Date
 <input type="text" ng-model="date_rdv" class="pull-right" style="direction: ltr; text-align: right;" disabled="disabled" />
  </label>

  <label class="item" class="inactiveLink" style="background-color: grey;">
Amount Paying
 <span class="item-note item-text-wrap" style="background-color: grey;">
    <input type="number" placeholder="Amount Paying"  align="right" ng-model="receiptData.amountPaid" style="direction: ltr; text-align: right;">
    </span>
  </label>

 <label class="item" class="inactiveLink">
Balance to be paid
 <span class="item-note item-text-wrap">
   {{ReceiptDetails[0].balance_amount}}
    </span>
  </label>

  <label class="item" class="inactiveLink">
Currency
 <span class="item-note item-text-wrap">
  {{ReceiptDetails[0].currency}}
    </span>
  </label>

  <label class="item" class="inactiveLink">
Payment Status
 <span class="item-note item-text-wrap">
  {{ReceiptDetails[0].payment_status}}
    </span>
  </label>

  <button class="button button-full button-positive" 
  ng-click="saveReceiptDetails(ReceiptData[0])">
 Save Receipt Details
</button>
</div>
</ion-item>
  </ion-list>
  </ion-content>
  </ion-view>