 <ion-view>
    <ion-content scroll="false">
    <section class="forgotPassword">
    	<div class="row">
    	<span>Enter your registered Email Address</span>
    	</div>
    	<div class="row">
    	<span> Verification Email will be sent to your registered Email Address</span>
    	</div>
    </section>
    </ion-content>
    </ion-view>