<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
     <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  
  <ion-side-menu side="left" class = "sidemenu">
    <ion-header-bar class="bar-assertive">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-toggle="left" class="item item-icon-left" href="#/app/dashboard">
        <i class="icon ion-person"></i>
        Dashboard
        </ion-item>
        <!-- <ion-item menu-toggle="left" class="item item-icon-left" href="#/app/CustomerDetails/:custId">
        <i class="icon ion-cash"></i>
         Bill Details
        </ion-item>
         <ion-item menu-toggle="left" class="item item-icon-left" href="#/app/ReceiptList">
         <i class="icon ion-document-text"></i>
          Receipt Details
        </ion-item> -->
         <ion-item menu-toggle="left" class="item item-icon-left" href="#/app/OpenJobsList" ng-hide = "'{{user_role}}' !='agency_mr'">
         <i class="icon ion-speedometer"></i>
         Meter Reader Dashboard
        </ion-item>
       <!--  <ion-item menu-close class="item item-icon-left" href="#/app/ReceiptCorrection"
        ng-hide = "'{{user_role}}' =='agency_mr'">
         <i class="icon ion-speedometer"></i>
          Receipt Correction
        </ion-item> -->

        <ion-item menu-close class="item item-icon-left" href="#/app/dashboard" ng-controller="dashboardCtrl" ng-click= "logout()">
        <i class="icon ion-log-out"></i>
        Logout
        </ion-item>
        <ion-item menu-close class="item item-icon-left" href="#/app/dashboard">
        <i class="icon ion-information-circled"></i>
        App Version - {{appVersion}}
        </ion-item>
       </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
