<ion-view view-title="Create Receipt">
  <ion-content ng-controller = "createReceiptCtrl">
      <ion-list >
       <ion-item class="item-full billdetails">
       <div class="list">
       </div>
       </ion-item>
       </ion-list>
    </ion-content>
  </ion-view>