<ion-view>
    <ion-content scroll="false">
        <section class="login-container" ng-controller = "loginController">
            <div class = "col header text-center">
               <img src="./img/mSmartEU.png" class = "logo" />
            </div>
             <div class="list list-inset" style="background-color: transparent;">
            <label class="item item-input">
            <i class="icon ion-locked placeholder-icon"></i>
             <input type="password" placeholder="Password">
             </label>
             <label class="item item-input">
             <i class="icon ion-locked placeholder-icon"></i>
              <input type="password" placeholder="Re-Enter Password">
              </label>
       <button class="button button-full button-assertive" ng-click = "showAlertForResetPwd()"> Submit</button>
       </div>
       </section>
       </ion-content>
       </ion-view>