<ion-view view-title="Payment Details">
  <ion-content >
      <ion-list>
       <ion-item class="item-full"  >
       <div class="list">
     
<!-- ng-repeat="card in ReceiptDetails" -->
   <label class="item" >
            Receipt Number 
            <span class="item-note item-text-wrap">
           {{ReceiptDetails[0].id}}
            </span>
            </label>
            <label class="item">
           Customer  Name 
            <span class="item-note item-text-wrap">
           {{ReceiptDetails[0].username}}
            </span>
            </label>

            <label class="item">
           Customer Number 
            <span class="item-note item-text-wrap">
           {{ReceiptDetails[0].consumer_account_number}}
            </span>
            </label>

              <label class="item" class="inactiveLink">
            Amount Paid 
            <span class="item-note item-text-wrap">
           {{ReceiptDetails[0].total_amount}}
            </span>
            </label>
            <!-- <label class="item" class="inactiveLink" style="background-color: grey; text-align: left;">
           Amount to be paid 
           <span class="item-note item-text-wrap" style="background-color: grey; text-align: right; width:120px; font-size: 12px;">
           <input type="text" placeholder="Enter Amount" style="align: right;">
          </span>
         </label> -->

           <label class="item" class="inactiveLink">
            Balance to be paid
            <span class="item-note item-text-wrap">
           {{ReceiptDetails[0].balance_amount}}
            </span>
            </label>
              <label class="item" class="inactiveLink">
            Payment Status
            <span class="item-note item-text-wrap">
           {{ReceiptDetails[0].payment_status}}
            </span>
            </label>
           <!--  <label class="item">
            <button class="button button-full button-energized" style="border-radius: 5px;">
            Create Record
           </button>
           </label> -->
            <!--  <label class="item"> -->
          <!--   <div class="row">
             <div class="col col-70"> 
             <span>
             <a class="pull-left button icon-right ion-cash button-balanced" style="font-size: 15px;"> Pay Now</a></span>-->
            
          </div>
             <div class="col col-30" align="center">
             <span >
              <a class="button icon-right ion-email button-balanced" style="font-size: 15px;align-items: center;"> Send Details</a>
          </span>
             </div>
             </div>  
      </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
