<ion-view view-title="Profile Settings" ng-controller="ProfileSettingsCtrl">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
       <!--  <img src="https://dummyimage.com/80X80/000/fff"> -->
        <h2>{{userName}}</h2>
        <p>{{email}}</p>
        <p>{{agencyId}}</p>
      </div>
    </div>
     <div class="list card">
      <div class="item item-body">
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Old Password</span>
            <input type="password" placeholder="Old Password" ng-model="oPwd">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">New Password</span>
            <input type="password" placeholder="New Password" ng-model="newPwd">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Re-Type New Password</span>
            <input type="password" placeholder="Re-Type New Password" ng-model="rPwd">
          </label>
          <button class="button button-block button-positive" ng-click="changePwd(oPwd, newPwd, rPwd)">
            Change Password
          </button>
        </div>
      </div>
    </div>
    </ion-content>
    </ion-view>
