<ion-view view-title="Receipt Correction">
  <ion-content  class="has-header">
   <label class="item item-input item-select">
     Search By
    <span class="item-note item-text-wrap">
    <select ng-model="searchBy">
    <option value="$">All Data</option>
      <option  value="username">User Name</option>
      <option value="id">Receipt Id</option>
      <option value="payment_status"> Payment Status</option>
      <option selected="selected" value="consumer_account_number"> Consumer Account Number</option>
    </select>
    </span>
  </label> 
  <div class="bar bar-header item-input-inset">

  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search" ng-model="query[searchBy]">
  </label>
  <button class="button button-dark" data-ng-click="query[searchBy] = ''">
    Cancel
  </button>
</div>
       <ion-list ng-repeat="card in ReceiptData | filter:query">
        <ion-item class="customerDetails" >
         <div class="item item-divider item-icon-right">
           Customer Number-{{card.consumer_account_number}}
            <i class="icon ion-edit" ui-sref = "app.EditReceiptDetails({receiptId:{{card.id}}})"
            ></i>
           <!--  goToEditDetails() -->
           <!-- ui-sref = "app.EditReceiptDetails({receiptId:{{card.id}}})" -->
           <!-- {receiptId:{{card.id}}} -->
           <!-- ui-sref="app.EditReceiptDetails()" -->
             </div>
          <div ui-sref="app.PaymentDetails({receiptId:{{card.id}}})">
             
         <label class="item" class="inactiveLink">
            Receipt Number 
            <span class="item-note item-text-wrap">
           {{card.id}}
            </span>
           </label>
             

            <label class="item" class="inactiveLink">
           Customer Name 
            <span class="item-note item-text-wrap">
           {{card.username}}
            </span>
            </label>
             <label class="item" class="inactiveLink">
          Payment Status
            <span class="item-note item-text-wrap">
           {{card.payment_status}}
            </span>
            </label>
           </div>

          </ion-item>
        </ion-list>
 

  </ion-content>
  <nav mfb-menu position="br" effect="zoomin" label="Cancel"
     active-icon="ion-android-cancel" resting-icon="ion-plus-round"
     toggling-method="click">
   <button mfb-button icon="ion-plus-round" label="Add New" ui-sref="app.CreateOtherReceipts"></button>
   
</nav>
 

</ion-view>
