<ion-view>
  <ion-content scroll="false">
    <section class="login-container" ng-controller="loginController">
      <div class="col header text-center">
        <img src="./img/mSmartEU.png" class="logo" />
      </div>
      <div class="login-page list-inset">

        <label class="item item-input">
          <i class="icon ion-email placeholder-icon"></i>
          <input type="text" placeholder="Email-Id" ng-model="emailId">
        </label>
        <label class="item item-input">
          <i class="icon ion-locked placeholder-icon"></i>
          <input type="password" placeholder="Password" ng-model="pwd">
        </label>
        <button class="button button-full" ng-click="LogIn()" style="background-color: transparent; color: white;"> Login</button>
        <span class="row user-checkbox" style="display: inline-table; border-style: none;">
          <span class = "pull-left" >
          <label class = "checkbox">
           <input type = "checkbox">
         </label>
          <span style="color: white">Remember me</span>
        </span>

        <span class="pull-right" style=" padding-top: 15px;text-align: right;">
              <span href = "#" ng-click="modal.show()" style="color: white; direction: ltr;">Forgot Password?</span>
        </span>
        </span>
      </div>

    </section>
  </ion-content>
</ion-view>
