<ion-view view-title="Create Receipt" hide-back-button="true">
  <ion-content class="receipt">
      <ion-list >
       <ion-item class="item-full billdetails"   >
       <div class="list">
     <!--    
      <label class="item" class="inactiveLink">
   Receipt ID
    <span class="item-note item-text-wrap">
     Receipt 12344
    </span>
  </label>
  <label class="item" class="inactiveLink">
   Service Provider Id
    <span class="item-note item-text-wrap">
     S12345
    </span>
  </label>
  <label class="item item-input item-select">
      Business Unit
    <span class="item-note item-text-wrap">
    <select>
      <option>Andheri</option>
      <option selected>Navi Mumbai</option>
      <option>Dadar</option>
    </select>
    </span>
  </label> -->


 
   <label class="item">
    Customer Number
  <span class="item-note item-text-wrap" >
  <input type="text" ng-model=" BillData[0].consumer_account_number" class="pull-right" style="direction: ltr; text-align: right;" disabled="disabled"/></span>
  </label>

  <label class="item" class="inactiveLink">
  Customer Name
    <span class="item-note item-text-wrap">
    <input type="text" ng-model="BillData[0].username" class="pull-right" style="direction: ltr; text-align: right;" disabled="disabled"/>
    </span>
  </label>
  <!-- <label class="item item-input item-select" >
    Payment Categories  
   <select class="ion-input-select"  ng-model="formData.paymentCategoryID">
      <option ng-repeat = "category in paymentCategory track by $index" value="{{category.id}}" ng-click="xyz(category.id)">{{category.payment_category_name}}</option>

    </select>
  </label> -->
  <div class= "BillDetailsHidden">
  <label class="item">
    Bill Id
    <span class="item-note item-text-wrap">
    {{BillData[0].bill_id}}
    </span>
  </label>

  <label class="item" class="inactiveLink">
 Due Date
    <span class="item-note item-text-wrap" ng-model="due_date">
    {{due_date}}
    </span>
  </label>

  <label class="item" class="inactiveLink">
 Amount Payable Before Due Date
 <span class="item-note item-text-wrap" ng-model="bill_before_due_date" ng-if="BillData[0].bill_modified == 'false'">
     {{BillData[0].total_bill}}
    </span>
    <span class="item-note item-text-wrap" ng-model="bill_before_due_date" ng-if="BillData[0].bill_modified == 'true'">
     {{BillData[0].revised_total_bill}}
    </span>
  </label>
  <label class="item" class="inactiveLink">
 Amount Payable after Due Date
 <span class="item-note item-text-wrap" ng-model="bill_after_due_date">
{{BillData[0].bill_after_due_date | number:0}}</span>
  </label>

  <label class="item" class="inactiveLink">
 Amount Payable
 <span class="item-note item-text-wrap" ng-model="amountPayable">
     {{amountPayable | number:0}}
    </span>
  </label>
  </div>

 

   <label class="item">
   Payment Mode
   <!--  <select>   item-input item-select
      <option selected>Cash</option>
      <option >Credit/Debit</option>
      <option>Net Banking</option>
    </select> -->
    <span class="item-note item-text-wrap">
  Cash
    </span>
  </label>


   <label class="item" class="inactiveLink">
 Payment Date
 <span type = "text" class="item-note item-text-wrap pull-right" >
     <input type="text" ng-model="date_rdv" class="pull-right" style="direction: ltr; text-align: right;" disabled="disabled" />
    </span>

  </label>

  <label class="item" class="inactiveLink" style="background-color: grey;">
Amount paying
 <span class="item-note item-text-wrap" style="background-color: grey;">
    <input type="number" style=" text-align: right;" ng-min="1" ng-max="{{amountPayable}}" ng-model="formData.amount_paying">
    </span>
  </label>

 <label class="item" class="inactiveLink">
Balance to be paid
 <span class="item-note item-text-wrap" ng-model="balance">
   {{amountPayable - formData.amount_paying | number : 0}}
    </span>
  </label>

<label class="item" class="inactiveLink">
  Payment Status
    <!-- <span class="item-note item-text-wrap" ng-if="amountPayable - formData.amount_paying == amountPayable">Not Paid</span>  -->
  <span class="item-note item-text-wrap" 
  ng-if="amountPayable - formData.amount_paying == 0 ">Full Payment </span>
  <span class="item-note item-text-wrap" ng-if="amountPayable - formData.amount_paying != amountPayable && amountPayable - formData.amount_paying > 0 ">Partial Payment </span>
   <span class="item-note item-text-wrap" ng-if="amountPayable - formData.amount_paying < 0 ">InCorrect Amount </span>
  </label>
   

   <label class="item" class="inactiveLink" style="background-color: grey;">
Remarks
 <span class="item-note item-text-wrap" style="background-color: grey;">
    <input type="text" placeholder="Enter Remarks here"  style="direction: ltr; text-align: right;" ng-model="formData.remarks">
    </span>
  </label>

  <button class="button button-full button-positive" ng-click="gotoCustomerDetails(BillData[0])">
  Create Receipt
</button>
</div>



  </ion-item>
  </ion-list>
  </ion-content>
  </ion-view>