<ion-view view-title="Customer Bill Details" hide-back-button="true">
  <ion-content class="Details">
      <ion-list>
       <ion-item class="item-full"  ng-repeat="card in BillData | limitTo: 50">
       <div class="list">
            <label class="item" class="inactiveLink">
           Customer Number
            <span class="item-note item-text-wrap">
           {{card.consumer_account_number}}
            </span>
            </label>
            
           <label class="item" class="inactiveLink">
            Total Bill 
            <span class="item-note item-text-wrap" ng-if="card.bill_modified == 'false'">
           {{card.total_bill}}
            </span>
             <span class="item-note item-text-wrap" ng-if="card.bill_modified == 'true'">
           {{card.revised_total_bill}}
            </span>
            </label>

              <label class="item" class="inactiveLink">
            Amount Paid 
            <span class="item-note item-text-wrap">
           {{card.amount_paid}}
            </span>
            </label>

              <label class="item" class="inactiveLink">
            Payment Status
            <span class="item-note item-text-wrap">
           {{card.payment_status}}
            </span>
            </label>
      </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
