<ion-view cache-view="false" view-title="Bill Details" hide-back-button="true">
  <ion-content  class="has-header Details">
    <ion-nav-view name="menuContent"></ion-nav-view>
<!-- <label class="item item-input item-select">
     Search By
    <span class="item-note item-text-wrap">
    <select ng-model="searchBy">
     <option value="$">All Data</option>
      <option value="consumer_account_number">Account Number</option>
      <option value="bill_id">Bill Id</option>
      <option value="payment_status"> Payment Status</option>
    </select>
    </span>
  </label>  -->

 <!--  <div class="bar bar-header item-input-inset">
   <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search" ng-model="query[searchBy]">
  </label>
  <button class="button button-positive" data-ng-click="query[searchBy] = ''">
    Cancel
  </button>
</div> -->

<div class="bar bar-header item-input-inset">
 <label class="item-input-wrapper">
  <i class="icon ion-ios-person placeholder-icon"></i>
  <input type="number" placeholder="Enter Account Number" ng-model="formData.customerId">
</label>
<button class="button button-positive"  ng-click = "getBillDetails(formData.customerId)">
  Submit
</button>
</div>

<ion-list>
  <ion-item class="item-full customerDetails" ng-repeat="card in BillData | filter:query" ng-if = "card.status == 'bill'">
    <div class="item item-divider item-icon-right" ng-model = "billId" >
      <i style="margin-top: 2px; font-weight: bolder; font-size: 15px; color:black;" ng-disabled="true" class="button button-stable button-small pull-left">Bill Id-{{card.bill_id}}</i> 
      
      <i id = "payBtn" class="button icon-left ion-cash button-positive button-small pull-right" ui-sref="app.AddReceiptDetails({billId:{{card.bill_id}}})" 
      ng-disabled = "card.payment_status =='Full Payment' || card.payment_status =='Partial Payment'">Pay Cash</i>
    </div>

    
    <div ui-sref="app.CustomerBillDetails({billId:{{card.bill_id}}})">
      <label class="item" class="inactiveLink">
       Customer Number 
       <span class="item-note item-text-wrap">
         {{card.consumer_account_number}}
       </span>
     </label>
     <label class="item" class="inactiveLink">
      Payment Status
      <span class="item-note item-text-wrap" ng-model="status">
       {{card.payment_status}}
     </span>
     
   </label>
   <label class="item" class="inactiveLink">
    Bill Amount
    <span class="item-note item-text-wrap" ng-if="card.bill_modified == 'false'">
     {{card.total_bill}}
   </span>
   <span class="item-note item-text-wrap" ng-if="card.bill_modified == 'true'">
     {{card.revised_total_bill}}
   </span>
 </label>
            <!-- <i id = "payBtn" class="button icon-left ion-cash button-positive button-small pull-right" 
            ng-hide = "card.bill_modified == 'true'">Modified Bill</i> -->
          </div>
        </ion-item>
      </ion-list>
      

    </ion-content>
 <!--  <nav mfb-menu position="br" effect="zoomin" label="Cancel"
     active-icon="ion-android-cancel" resting-icon="ion-plus-round"
     toggling-method="click">
  <button mfb-button icon="ion-search" label="Search"></button>
   <button mfb-button icon="ion-plus-round" label="Add New" ng-click = "goToAddDetails()"></button>
   
 </nav>-->

</ion-view>
