<ion-view>
  <ion-content scroll="false">
    <section class="login-container" ng-controller="loginController">
      <div class="col header text-center">
        <img src="./img/mSmartEn.png" class="logo" style = "height: 40%;"/>
      </div>
      <div class="login-page list-inset">
       <!--  <div class="item item-input-inset" style="background: transparent; color: white;">
          <label class="item-input-wrapper">
          Select The Agency
            <select class="col col-100 padding-right" ng-model="formData.agencyName" ng-init = "formData.agencyName = 'SSU'">
              <option>SSU</option>
              <option selected>MIDC</option>
             
            </select>
          </label>
         </div> -->
        <label class="item item-input">
          <i class="icon ion-email placeholder-icon"></i>
          <input type="text" placeholder="Email-Id" ng-model="emailId" autocapitalize=off>
        </label>
        <label class="item item-input">
          <i class="icon ion-locked placeholder-icon"></i>
          <input type="password" placeholder="Password" ng-model="pwd">
        </label>
        <button class="button button-full" ng-click="LogIn()" style="background-color: transparent; color: white;"> Login</button>
         <span class="pull-right" style="text-align: right;">
              <span href = "#" ng-click="modal.show()" style="color: white; direction: ltr;">Forgot Password?</span>
        </span>
        <div class="row">
        <div class="col col-100">
        <h5 class = "text-center" style="color: white;">&copy; ABHARTECH 2018</h5>
        </div>
        </div>
    </div>
    </section>
  </ion-content>
</ion-view>
