<ion-view view-title="Create Receipt" hide-back-button="true">
  <ion-content>
    <ion-list>
     <ion-item class="item-full billdetails">
       <div class="list">

         <label class="item">
          Customer Number
          <span class="item-note item-text-wrap" >
            <input type="text" placeholder="Customer Number" class="pull-right" style="direction: ltr; text-align: right;" ng-model="formData.consumerNo" /></span>
          </label>

          <label class="item item-input item-select" >
            Payment Categories  
            <select class="ion-input-select"  ng-model="formData.paymentCategoryID">
              <option ng-repeat = "category in paymentCategory track by $index" value="{{category.id}}" ng-click="xyz(category.id)">{{category.payment_category_name}}</option>
            </select>
          </label> 
          <label class="item" >
            Total Amount
            <span class="item-note item-text-wrap" >
              <input type="text" placeholder="Total Amount" class="pull-right" style="direction: ltr; text-align: right;" ng-model="formData.totalAmount"/></span>
            </label>
            <label class="item" >
              Amount Paying
              <span class="item-note item-text-wrap" >
                <input type="number" placeholder="Amount Paying" class="pull-right" style="direction: ltr; text-align: right;" ng-model="formData.amountPaying"/></span>
              </label>
              <label class="item" >
                Balance Amount
                <span class="item-note item-text-wrap" ng-model="balance" ng-change="change()">
                  {{formData.totalAmount - formData.amountPaying}}
                </span>
              </label>
              <label class="item">
               Payment Status
               <span class="item-note item-text-wrap" ng-model="payment_status" 
               ng-if="formData.totalAmount - formData.amountPaying == 0 ">
               Full Payment 
             </span>
             <span class="item-note item-text-wrap" ng-model="payment_status" ng-if="formData.totalAmount - formData.amountPaying > 0">
              Partial Payment 
            </span>
            <span class="item-note item-text-wrap" ng-model="payment_status" ng-if="formData.totalAmount - formData.amountPaying < 0">
              Incorrect Amount
            </span>
          </label>
          <label class="item">
           Remarks
           <span class="item-note item-text-wrap" >
            <input type="text" class="pull-right" style="direction: ltr; text-align: right;"
            ng-model="formData.remarks"/></span>
          </label>
          <label class="item">
           Payment Mode
           <span class="item-note item-text-wrap" >
            <input type="text" value= "cash" class="pull-right" style="direction: ltr; text-align: right;"/></span>
          </label>
          <button class="button button-full button-positive" ng-click="goToReceiptDetails()">
            Create Receipt
          </button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
