<ion-view view-title="mSmartEU Agency" hide-back-button="true"  cache-view="false">
  <!-- <ion-nav-bar class="bar-assertive">
  </ion-nav-bar> -->
  <ion-content>
  <div class="row " style="margin-top: 30px !important ">
  <div class="col col-50 text-center " ui-sref="app.OpenJobsList" >
        <h5>
          <i class="icon dashboard-icon ion-speedometer"></i><br>
        Meter Reading
        </h5>
      </div>
      <div class="col col-50 text-center" ng-click="logout()">
        <h5>
          <i class="icon dashboard-icon ion-android-exit" ></i><br>
          Logout
        </h5>
      </div>
      </div>
      
    
    <div class="row " >
  <!--   <div class="col col-50 text-center " ui-sref="app.ReceiptList ">
        <h5>
          <i class="icon dashboard-icon ion-document-text"></i><br>
        Receipts
        </h5>
      </div>   <div class="col col-50 text-center " ui-sref="app.CustomerDetails ">
        <h5>
          <i class="icon dashboard-icon ion-cash "></i><br>
          Bill Payment
        </h5>
      </div>
     </div> -->
     
    </div>

       <div class="row"  ng-hide= 'true'>
       <!--  <div class="col col-50 text-center" ui-sref= 'app.offlinesettings'>
        <h5>
          <i class="icon dashboard-icon ion-flash-off" ></i><br>
          Offline Settings
        </h5> -->
        <!-- <div class="col col-50 text-center " ui-sref='app.profilesettings'>
        <h5>
          <i class="icon dashboard-icon ion-ios-person "></i><br>
          Profile Settings
        </h5>
      </div> -->
      </div>
       <!--  <div class="col col-50 text-center" ng-controller="logoutCtrl" ng-click="logout()">
        <h5>
          <i class="icon dashboard-icon ion-android-exit" ></i><br>
          Logout
        </h5>
      </div> -->
      <!-- </div> -->
      
  </ion-content>
  </ion-view>