<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta http-equiv="Content-Security-Policy" content="default-src *;
  img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
  style-src  'self' 'unsafe-inline' *">
  <title></title>

  <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/ng-material-floating-button/mfb/dist/mfb.css" rel="stylesheet"/>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <!--  <script src="lib/ngCordova/dist/ng-cordova.js"></script> -->
  <!-- cordova script (this will be a 404 during development) -->
  <script src="lib/ngCordova/dist/ng-cordova.js"></script>
  <script src="cordova.js"></script>
  <script src='lib/azure-blob-upload.js'></script>
  <script src='lib/angular-sanitize/angular-sanitize.min.js'></script>
  <script src='lib/ng-csv/src/ng-csv/ng-csv.js'></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="js/networkservice.js"></script>
  <script src="js/directives.js"></script>
  <script src="app/login/login.js"></script>
  <script src="app/bill/BillDetails.js"></script>
  <script src="app/bill/addReceipt.js"></script>
  <script src="js/controllers/addcustdetails.js"></script>
  <script src="app/receipts/ReceiptListCtrl.js"></script>
  <script src="app/createOtherReceipt/createOtherReceipt.js"></script>
  <script src="app/profileSettings/profilesettings.js"></script>
  <script src="app/editReceipt/editReceiptCtrl.js"></script>
  <script src="app/dashboard/dashboard.js"></script>
  <script src="app/receipts/PaymentDetailsCtrl.js"></script>
  <script src="app/MeterReaderDashboard/CustomerList.js"></script>
  <script src="app/MeterReaderDashboard/capturemeterReading.js"></script>
  <script src="app/MeterReaderDashboard/MRDashboard.js"></script>
  <script src="app/MeterReaderDashboard/meterReadingDetails.js"></script>
  <script src="app/MeterReaderDashboard/openJobs.js"></script>
  <script src="app/MeterReaderDashboard/jobDetails.js"></script>
  <script src="app/MeterReaderDashboard/updatedetails.js"></script>
  <script src="app/MeterReaderDashboard/SyncLocal.js"></script>
  <script src="app/offlinesettings/offlinesettings.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/config.js"></script>
  <script src="lib/ng-material-floating-button/src/mfb-directive.js"></script>
  <script src="lib/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script>
    function onLoad() {
      document.addEventListener("deviceready", onDeviceReady, false);
    }
// device APIs are available
function onDeviceReady() {
  document.addEventListener("pause", onPause, false);
  document.addEventListener("resume", onResume, false);
  document.addEventListener("menubutton", onMenuKeyDown, false);
    // Add similar listeners for other events
  }
  function onPause() {
    // Handle the pause event
  }

  function onResume() {
    // Handle the resume event
  }

  function onMenuKeyDown() {
    // Handle the menubutton event
  }
</script>
</head>

<body ng-app="starter" onload="onLoad()">
  <ion-nav-view></ion-nav-view>

  <script id="modal.html" type="text/ng-template" style = "background-color: grey;" >
    <ion-modal-view>
      <section class="forgotPassword" style="height: 250px; width:100%;top:100px; position: relative; background-color: transparent;">
    <ion-content>
      <form name="loginForm">
       <div class="row">
        <h4> <span>Enter your registered Email Address</span></h4>
      </div> 
      <div class="row">
        <span> Verification Email will be sent to your registered Email Address</span>
      </div>
      <div class="list">

        <div class="item item-input-inset" style="background-color: transparent;" >
          <label class="item-input-wrapper">
            <input type="email" placeholder="Email"  ng-model = "$parent.formData.registeredemailId" name="firstname" 
             ng-required="true" >
          </label>
          <button class="button button-small button-assertive" type="submit" ng-click="showAlert(loginformdata)" ng-disabled = "loginForm.firstname.$error.required || loginForm.firstname.$error.email">
            Submit
          </button>
        </div>
        <p style="color: red;" ng-show="loginForm.firstname.$error.required">Email Id is Required!</p>
        <p style="color: red;" ng-show="loginForm.firstname.$error.email"> Not a valid email!</p>
       <!--  <h1>{{formData.registeredemailId}} </h1> -->

      <div class="row">
       <button class="button button-full button-dark" ng-click = modal.hide()> Cancel </button>
     </div>
   </div>
   </form>

 </ion-content>
</section>

</ion-modal-view>
</script>

</body>
</html>
