<ion-view view-title="Capture Meter Reading" hide-back-button="true"  cache-view="false">
  <ion-content scroll="true">
    <!-- overflow-scroll="true" -->
    <!--  <ion-scroll direction="y"> -->
    <div class="list CaptureReading">
     <label class="item">
       Consumer Account Number
       <span class="item-note item-text-wrap">
         {{customerId}}
       </span>
     </label>
     <label class="item">
      Name
      <span class="item-note item-text-wrap">
       {{consumerName}}
     </span>
   </label>

   <label class="item">
    Meter Reading Date
    <span class="item-note item-text-wrap" ng-model="date_now">
     {{date_now}}
   </span>
 </label>
 
<label class="item">
  Previous Meter Status
  <span class="item-note item-text-wrap" >
   {{Consumers[0].error_code_description}}
 </span>
</label>
<label class="item item-input item-select">
  <div class="input-label">
    Meter Status
  </div>
  <select ng-model = "formData.status" ng-init="formData.status='1'">
   <option ng-repeat = "errorcode in errorCodes track by $index" value="{{errorcode.id}}">{{errorcode.description}}</option>

 </select>
</label>

<label class="item">
  Current Connection type
  <span class="item-note item-text-wrap" >
    {{Consumers[0].connection_description}}
  </span>
</label>
<label class="item item-input item-select" ng-if = "formData.status =='9'">
  <div class="input-label">
    Connection Type
  </div>
  <select ng-model = "formData.type" ng-init="formData.type='Domestic'" > 
   <option selected>Domestic</option>
   <option>Non - Domestic</option>
   <option>Institutional</option>
 </select>
</label>
 <!-- <label> selected connection type = {{formData.type}} {{formData.status}}</label>
 -->
<label class="item">
  Previous Meter Reading
  <span class="item-note item-text-wrap" >
   {{Consumers[0].previous_reading}}
 </span>
</label>
<div ng-hide =  "formData.status !=  '1' && formData.status != '9' && formData.status !='7'">
  <label class="item"  style="background-color: grey">
   Current Meter Reading
   <span class="item-note item-text-wrap pull-right" >
     <input type="number" class="pull-right" style="direction: ltr; text-align: right;" ng-model="formData.reading" />
   </span>
 </label>
</div> 

  <!--  <label class="item" ng-if="Consumers[0].email_id != ''">
    Email - Id
    <input type="email" value="{{Consumers[0].email_id}}" class="pull-right" style="direction: ltr; text-align: right;"  ng-disabled = "true" ng-model = "formData.email_id"/>
    <span class="item-note item-text-wrap">
    </span>
    </label>

    <label class="item" ng-if="Consumers[0].email_id == ''">
    Email - Id
    <input type="email" placeholder = "{{Consumers[0].email_id}}" class="pull-right" style="direction: ltr; text-align: right;"  ng-disabled = "false" ng-model = "formData.email_id"/>
    <span class="item-note item-text-wrap">
    </span>
    </label>
  -->
  <label class="item" ng-if="Consumers[0].mobile_number != 'N.A'">
    Mobile Number
    <input type="number" value="{{Consumers[0].mobile_number}}" class="pull-right" style="direction: ltr; text-align: right;"  ng-disabled = "true" ng-model = "formData.mobile_no"/>
    <span class="item-note item-text-wrap">
    </span>
  </label>

  <label class="item" ng-if="Consumers[0].mobile_number == 'N.A'">
    Mobile Number
    <input type="number" placeholder="{{Consumers[0].mobile_number}}" class="pull-right" style="direction: ltr; text-align: right;"  ng-disabled = "false" ng-model = "formData.mobile_no" limit-char limit="10"/>
    <span class="item-note item-text-wrap" >
    </span>
  </label>


  <label class="item" ng-if="doubleclikstatus == false">
    Route Number
    <input type="number" value="{{Consumers[0].route_no}}" class="pull-right" style="direction: ltr; text-align: right;"   ng-dblClick = "dbFunc()" readonly  ng-model = "formData.route_no"/>
    <span class="item-note item-text-wrap">
    </span>
  </label>
  <label class="item" ng-if="doubleclikstatus == true" focus-me>
    Route Number
    <input type="number" value="{{Consumers[0].route_no}}" class="pull-right" style="direction: ltr; text-align: right;"  ng-model = "formData.route_no" />
    <span class="item-note item-text-wrap">
    </span>
  </label>

  <div class= "item item-image" ng-if = "pictureUrl != 'http://placehold.it/150x150'">
    <img ng-src = "{{pictureUrl}}">
  </div>


  <button class="button button-block button-outline button-positive icon-left ion-camera m-t-10" ng-click="takePhoto()">
    Take a Photo
  </button>



  <button class="button button-block button-positive text-center" ng-click="updateReading(readingData)">
    Update Meter Reading
  </button>
</div>
<!-- </ion-scroll> -->
</ion-content>
</ion-view>