<ion-view view-title="Consumer List" hide-back-button="true" cache-view="false">

 <ion-content>
  <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="Number" placeholder="Enter Consumer Number" ng-model="formData.custNo">
      </label>
      <button class="button button-positive" ng-click="search()">
        Search
      </button>
    </div>
   <h4 ng-if = "allData.length <= 0">Download the Jobs into Local DataBase </h4>
   
    <div class="list tabs-icon-left custList">
      <div class="item item-avatar" ng-repeat="Consumerdata in allData | filter : formData.custNo " ng-hide="Consumerdata.consumer_account_number == null" ng-if="Consumerdata.meter_reading_taken !='yes' && status != 'Reallocated'">
     <!--  <h2>{{$index}}</h2> -->
        <h2> Consumer Id - {{Consumerdata.consumer_account_number}}</h2>
        <p>Name - {{Consumerdata.username}}</p>
        <div class="row">
          <div class="col col-100" style="align-content: center;">
            <i class="button icon-left ion-ios-speedometer button-positive button-small pull-left" ui-sref="app.capturemeterReading({consumerId:Consumerdata.consumer_account_number,consumerName:Consumerdata.username,jobId : Consumerdata.job_id,jobDetailId : Consumerdata.job_detail_id})">Meter Reading</i>
          </div>
          </div>
        <!-- <h1 style="color: black">{{status}}</h1> -->
        <!-- <div class="item item-avatar" ng-if="Consumerdata.status == 'Reallocated'">
          <h2>All the consumers were Reallocated to Another Meter Reader</h2>
        </div> -->
      </div>
     
<p ng-if="status == 'Reallocated'"><span>All the consumers were Reallocated to Another Meter Reader </span></p>
       
    </div>
    <ion-infinite-scroll ng-if="noMoreItemsAvailable" on-infinite="loadMoreOffline()" distance="20%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
