<ion-view view-title="Job Details" hide-back-button="true" cache-view="false">
  <ion-content over-scroll='true'>
    <div class="list">
      <label class="item" class="inactiveLink">
        Job Number
        <span class="item-note item-text-wrap">
         {{jobData[0].id}}
       </span>
     </label>
     <label class="item" class="inactiveLink">
       Job Status
       <span class="item-note item-text-wrap">
         {{jobData[0].job_status}}
       </span>
     </label>
     <label class="item" class="inactiveLink">
       Agency Id
       <span class="item-note item-text-wrap">
         {{jobData[0].agency_id}}
       </span>
     </label>
     <label class="item" class="inactiveLink">
       Agency	
       <span class="item-note item-text-wrap">
         Agency Name
       </span>
     </label>
     <label class="item" class="inactiveLink">
       Billing Period	
       <span class="item-note item-text-wrap">
         {{jobData[0].billing_month}}
       </span>
     </label>
   </div>
 </ion-content>
</ion-view>