<ion-view view-title="Job Details" hide-back-button="true" cache-view="false">
  <ion-content overflow-scroll="true">
  <!-- <ion-refresher on-refresh="doRefresh()"></ion-refresher> -->
  <!-- <div class="custList"> -->
       <div class="item">
        <h2>Job Number                -    {{jobId}}</h2><br>
        <h2>Consumers Allocated       -    {{consumersAllocated}}</h2><br>
        <h2>Meter Readings Taken      -    {{meterreadingtaken}}</h2><br>
        <h2>Meter Readings Pending    -    {{consumersRemaining}}</h2><br>
        <h2>Meter Reading Already Uploaded - {{updatedToServer}}</h2><br>
        <h2 ng-if="updatedToServer == 0">Meter Readings yet to Upload - {{consumersAllocated}}</h2>
        <h2 ng-if= "updatedToServer > 0">Meter Readings yet to Upload - {{consumersAllocated - updatedToServer}} </h2>
       <button class="button button-block button-positive" ng-click = "uploadToServer()" ng-csv="getArray" filename="test.csv"  >Upload Readings to Server</button>
        <button class="button button-block button-positive" ng-click = "DeleteJob()">Delete Job From Local</button>
        <button class="button button-block button-positive" ng-click="exportData()">Export To Text File</button>
      <!--   <button class="button button-block button-positive" ng-click = "DeletePictures()">Delete Pictures From Phone</button> -->
        <!-- <h1>{{progressPercent}}</h1> -->
       <!--  <h3 ng-if="uploadingImages">Uploading {{length}} meterReadings, Please Wait</h3>
        <h3 ng-if="uploadingImages">Please Wait Until the Job Uploads Completely</h3>
        <div class="card" ng-show="progressPercent > 0">
      <div class="item item-text-wrap">
        <div class="loader" style="width: {{progressPercent}}%;">
          <p class="percent">{{progressPercent}}%</p>
        </div> -->
      </div>
    </div>
       </div>
 <!--  </div> -->
 </ion-content>
 </ion-view>