<ion-view view-title="Meter Reader Dashboard" hide-back-button="true" cache-view="false">
  <ion-content class="meterReading" scroll = "false"> 
    <ion-scroll direction="y">
     <div class="list card" style="align-items: center;">
      
      <h5 style="align-content: center; color: black;">User Name - {{username}}</h5>
      <h5 style="align-content: center; color: black;" ng-if = "userrole == 'agency_mr'">Designation - Meter Reader</h5>
    </div>
    <div class="list">
     
     <ion-item class="item item-icon-left" style="color:#008B8B;" ui-sref="app.AllocatedTask"  ng-hide = 'true'>
      <i class="icon ion-card"></i>
      Allocated Task
    </ion-item>
    <ion-item class="item item-icon-left" style="color:#008B8B;" ui-sref="app.openJobs" >
      <i class="icon ion-android-open"></i>
      Previous Jobs
    </ion-item>
    <ion-item class="item item-icon-left" style="color:#008B8B;" ui-sref="app.PendingReadings" >
      <i class="icon ion-speedometer"></i>
      Open Jobs
    </ion-item>
    
    <!--   <ion-item class="item item-icon-left" style="color: #FF8C00; font-size=16px;" ui-sref="app.meterReading"> 
        <i class="icon ion-ios-speedometer" ></i>
      Capture Reading
    </ion-item> -->
  </div>
</ion-scroll>

</ion-content>
</ion-view>
