<ion-view view-title="Open Job List" hide-back-button="true" cache-view="false">
  <ion-content overflow-scroll="true">
   <ion-refresher on-refresh="doRefresh()"></ion-refresher>
   <div class="custList" ng-repeat = "job in jobData" ng-if="networkstatus == true">
    <div class="item"  ui-sref = "app.syncData({jobId:{{job.id}}})" ng-if = "job.meter_reader_id == meterReaderId && job.status == 'active' || job.status == 'Reallocated'">
        <h2>Job Number- {{job.id}}</h2>
        <p> Job Status - {{job.status}}</p>
        <!-- <h2> online - {{networkstatus}}</h2> -->
       </div>
   </div>
  <div class="custList" ng-repeat = "job in jobDataOffline" ng-if="networkstatus == false">
       <div class="item"  ui-sref = "app.syncData({jobId:{{job.job_id}}})" ng-if = "job.meter_reader_id == meterReaderId && job.job_status == 'Reallocated' || job.status == 'active'">
        <h2>Job Number- {{job.job_id}}</h2>
        <p> Job Status - {{job.status}}</p>
        <!--  <h2> offline - {{networkstatus}}</h2> -->
       </div>
  </div>

 </ion-content>
 </ion-view>