<ion-view view-title="Select Action" hide-back-button="true" cache-view="false">

 <ion-content>
 <!-- <button button-positive button-small >Sync With Local Database</button> -->
 <h3 style="text-align: center;"> Job Number - {{jobId}}</h3>
 <button class="button button-block button-positive" ng-if = "consumerLength == 0" ng-click = "sync()" ng-disabled="isDisabled">
  Sync With Local Database
</button>
    <!-- <button class="button button-block button-positive" ng-click = "view()"> View the details</button> -->
    <!-- <label>{{consumerLength}}</label>
    <label>{{allData.length}}</label> -->
    <button class="button button-block button-positive" ng-if = "consumerLength > 0" ng-click = "view(jobId)">
  Show Consumers
</button>
<!-- <button class="button button-block button-positive" ng-if = "toggelestatus == true" ng-click = "showConsumers()"> Show Consumers</button> -->
<button class="button button-block button-positive"  ng-click = "showMeterReadings()">Show Job Details</button>
  </ion-content>
 </ion-view>