<ion-view view-title="Update Details" hide-back-button="true" cache-view="false">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <!--  <img src="https://dummyimage.com/80X80/000/fff"> -->
        <h2>Customer Number - {{customerId}}</h2>
        <p>Name- {{consumerName}}</p>
      </div>
    </div>
    <div class="list card">
      <label class="item item-input item-floating-label">
        <span class="input-label">Email - ID</span>
        <input type="text" placeholder="Email ID" ng-model="formData.email_id">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Mobile Number</span>
        <input type="number" placeholder="Mobile Number" ng-model="formData.mobileNo" limit-char limit="10">
      </label>
      <button class="button button-block button-positive" ng-click="updateDetails()">
        Update
      </button>
    </div>
  </ion-content>
</ion-view>
