<ion-view view-title="Select Customer" hide-back-button="true" cache-view="false">

 <ion-content>
 <!-- <button button-positive button-small >Sync With Local Database</button> -->
<!--  <label style="text-align: center;"> Job Number - {{jobId}}</label>
 <button class="button button-block button-positive" ng-click = "sync()" ng-if = "toggelestatus == false">
  Sync With Local Database
</button>
    <button class="button button-block button-positive" ng-click = "view()"> View the details</button>
    <button class="button button-block button-positive" ng-if = "toggelestatus == false" ng-click = "view(jobId)">
  Show Consumers
</button>
<button class="button button-block button-positive" ng-if = "toggelestatus == true" ng-click = "showConsumers()"> Show Consumers</button> -->
<div class="list">

  <div class="item item-toggle" style="top: 1px;">
     Online
     <label class="toggle toggle-assertive" style="top: 1px;">
       <input type="checkbox" ng-model = "toggelestatus" ng-change = "changeToggle()">
       <div class="track" style="top: 1px;">
         <div class="handle"></div>
       </div>
     </label>
  </div>
 <!--  <ion-toggle ng-model="testToggle">Test toggle</ion-toggle>  -->
  </div>
  </ion-content>
 </ion-view>