/* Empty. Add your own CSS if you like */
.login-container ,.forgotPassword{
    display: -webkit-flex;
   -webkit-flex-direction: column;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efad62), color-stop(100%,#f7d47c));
    background: -webkit-linear-gradient(top, #efad62 0%,#f7d47c 100%);
    background-image: url('../img/mSmartEUWater.jpg');
    background-size: cover;
    background-position: center;
   }

.login-container > .button-row img {
    max-width: 80%;
}
.login-container > .header {
    -webkit-flex: 0;
    padding-top: 30px;
}
.logo
{
	 align-content: center;
  margin-top: 50px;
}
.bar-assertive {
    background: #001489 !important;
    color: #FFF !important;
  }
  .dashboard-icon {
    font-size: 5.0rem !important;
    color:#001489 !important;
  }
  .button-positive
  {
  background-color: #001489 !important;
  }
  .loader {
  background: #f20d49 !important;
  border-radius: 100px;
  height: 20px;
}
.loader p {
  text-align: center;
  color: white !important;
  text-align: center;
}
label, button {
    float: none; /* if you had floats before? otherwise inline-block will behave differently */
    display: inline-block;
    vertical-align: middle;    
}
.placeholder-icon
{
    color: black;
    font-size: 20px;
}
input[type="text"], input[type="password"]
{
    /*font-size: 17px;*/
    color: black;
}
.button-small
{
    min-width: 60px
    min-height : 38px;
}
.item-input-inset .item-input-wrapper input
{
    height: 34px;
}

.item-complex.item-full .item-content{
  padding: 2px !important;
}

.sample .row .col h2
{
  color: #000080;
}
.inactiveLink {
   pointer-events: none;
   cursor: default;
   padding: 2px;
}
.meterReading .item
{
  padding: -1px !important;
}
.your-sample-class{
  background: #0000f0 !important
}
.item,.input-label, .item-note ,.item-select select
{
  font-size: 14px;
  position: relative;
}
.item-input,.item

{
  padding: 7px;
}

.billdetails .item
{
  border-width: 1px;
}

.billdetails input[type="text"]
{
  font-size: 14px;
  float: right;
}
.customerDetails .item
{
  border : 0px;
}
 .customerDetails .item-icon-right .icon
 {
  font-size: 24px;
 }
 .inactiveLink input[type="text"]
 {
  font-size: 14px;
 }
.sidemenu .item
{
  padding: 1px;
}
.modal
{
  background-color: transparent;
  top: 60px;
}

.pull-left {
    float: left !important;
  }

  .pull-right {
    float: right !important;
  }
  .text-center {
    text-align: center !important;
  }
  .text-right {
    text-align: right !important;
  }
  .text-left {
    text-align: left !important;
  }

 /* div .login-page, div .login-page label{
    background: linear-gradient(to bottom, #3366ff 0%, #0099cc 93%);
}*/
.login-page  {
  background-color: transparent !important;
    width: 100%;
    height: 40%;
    margin: 0 auto !important;
    vertical-align: middle !important;
    position: absolute;
    bottom: 20px !important;
    right: 0px;
}

 .login-container .list-inset 
{
  background-color: transparent;
}
.login-container .list
{
  padding-top: 0px;
}
.login-page input[type="text"],input[type="password"]
{
  color: white;
  font-size : 18px;

}
.login-page label
{
  background-color: transparent;
}
.user-checkbox
{
  bottom: 20px;
}
.login-page label i 
{
  font-size: 25px;
}
.forgotPassword,.forgotPassword h4 span
{
  font-size: 18px;
  font-weight: bold;
}
.login-page input[type="text"],.login-page input[type="password"]
{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
}
.login-page .item
{
border-style: none;
}

.receipt span,.Details span
{
  color: black;
}
.allocatedTask
{
  background-color: #008B8B;
}
.custList .item
{
 padding: 10px;
}
.CaptureReading input[type="text"],input[type="email"]
{
  color: black;
  background-color: white;
}
.custList .col
{
  padding: 1px;
}


.task-circle {
    /*background: rgba(0, 0, 0, 0.3);*/
    background-color: #292E49;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 50px;
    margin: 5px 10px 0px 10px !important;
    color: white;
    font-size: 18px;
    padding-top: 15%;
  }
  .task-circle h5,h4
  {
    color: white;
  }